<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Title }}</title>
  {{ $styles := resources.Get "css/character-profile.css" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $styles.Permalink }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Mate:ital@0;1&family=Sorts+Mill+Goudy:ital@0;1&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Sorts+Mill+Goudy:ital@0;1&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <div class="header-content">
      <h1 class="site-title"></h1>
      <nav class="main-nav">
        <ul>
      
          <li><a href="/">Home</a></li>
          <li><a href="/characters">Characters</a></li>
          <li><a href="/lore">Lore</a></li>
          <li><a href="/gallery">Gallery</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <main class="main-content">
    <article class="character-profile">
      <div class="character-text">
        {{ with .Resources.ByType "image" }}
          {{ range . }}
            <img src="{{ .RelPermalink }}" alt="{{ .Name }}">
          {{ end }}
        {{ end }}
        {{ .Content | safeHTML }}
      </div>
    </article>
    <aside class="character-details">
      <div class="character-details-content">
        <h2>Information</h2>
        <ul>
          <li><strong>Gender:</strong> {{ .Params.gender }}</li>
          <li><strong>Race:</strong> {{ .Params.race }}</li>
          <li><strong>Age:</strong> {{ .Params.age }}</li>
          <li><strong>Height:</strong> {{ .Params.height }}</li>
          <li><strong>Hair Colour:</strong> {{ .Params.hair_color }}</li>
          <li><strong>Eye Colour:</strong> {{ .Params.eye_color }}</li>
          <li><strong>Nationality:</strong> {{ .Params.nationality }}</li>
          <li><strong>Class:</strong> {{ .Params.class }}</li>
          <li><strong>Subclass:</strong> {{ .Params.subclass }}</li>    

        </ul>
      </div>
      <div class="table-of-contents">
        <h2>Table of Contents</h2>
        <div>
          {{ .TableOfContents }}
        </div>
      </div>
    </aside>
  </main>
  <footer>
    <p>&copy; {{ now.Year }} v3ctr0n. All rights reserved.</p>
  </footer>
  <script>
    function moveTableOfContents() {
        const toc = document.querySelector('.table-of-contents');
        const mainContent = document.querySelector('.main-content');
        const isMobile = window.innerWidth <= 600;

        if (isMobile && mainContent && toc) {
            mainContent.insertBefore(toc, mainContent.firstChild);
        }
    }

    // Run on initial load
    document.addEventListener('DOMContentLoaded', moveTableOfContents);

    // Run on window resize
    window.addEventListener('resize', moveTableOfContents);
</script>

</body>
</html>
